.sidebarChannel > h4:hover{
    color: white;
    background-color: #40464b;
}

.sidebarChannel > h4{
    display: flex;
    padding-left: 15px;
    align-items: center;
    cursor: pointer;
    color: gray;
    background-color: #2f3136;
}

.sidebarChannelHash{
    padding: 8px;
    font-size: 30px;
}